[project]
	description = learning spring web mvc and bootstrap3
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/BevinYe
[access "refs/for/refs/*"]
	read = group user/BevinYe
	push = group user/BevinYe
	label-Code-Review = -2..+2 group user/BevinYe
	label-Verified = -1..+1 group user/BevinYe
	rebase = group user/BevinYe
	removeReviewer = group user/BevinYe
	submit = group user/BevinYe
[access "refs/heads/*"]
	read = group user/BevinYe
	create = group user/BevinYe
	push = +force group user/BevinYe
	pushMerge = group user/BevinYe
[access "refs/tags/*"]
	push = +force group user/BevinYe
	createTag = group user/BevinYe
	createSignedTag = group user/BevinYe
